.todos {
    padding: 0;
    width: 15em;
}
.todos li {
    background-color: lightblue;
    color: black;
    padding: 4px;
    margin: 5px 20px;
}
.crossButton {
    float: right;
    background-color: red;
    padding: 0 5px 0 5px;
    cursor: pointer;
    color: white;
}